body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}
header {
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(60, 60, 65, 0.52),
      rgba(7, 0, 0, 0.57)
    ),
    url(images/donation1.jpg);

  background-size: auto;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  margin: 20px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}
.button {
  color: white;
  text-decoration: none;
  background-color: rgb(211, 78, 55);
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  border:none;
}
.donation-amount {
  text-align: center;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.flex-container {
  display: flex;
  justify-content: space-between;


}
h4 {
  background-color: rgb(243, 240, 240);
  color: rgb(100, 94, 94);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
#special {
  background-color: rgb(245, 199, 199);
  border: 2px solid red;
}
#taka {
  padding-bottom: 10px;
  color: #9c9e9c;
  border-bottom: 2px solid;
  border-bottom-color: #bec2be;
}
h2 {
  font-size: 30px;
  font-weight: 800;
}

.donation-area {
  justify-content: space-around;
  text-align: left;
  margin: 5px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.color1{
  background-color: rgb(203, 243, 243);
}
.color2{
  background-color: rgb(246, 202, 205);
}
.color3{
  background-color: rgb(242, 243, 203);
}
.donation-flex{
  width:30%;
 
}
/*-------------------------------------*/


form{
  padding:40px;
  margin-bottom:30px;
  background-color: #def3a9;

}
input{
  background-color:rgb(219, 221, 222) ;
  border: none;
  padding:10px;
  border-radius: 5px;
}
footer{
  background-color: black;
  color:white;
}
.foot{
  text-align:center;
  padding-top:10px;
  padding-bottom:15px;
  margin-top: 10px;
}
.foot h3{
  color:red;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: 800; 
}

#email{
  border-radius: 5px 0px 0px 5px;
}
#email_btn{
  border-radius: 0px 5px 5px 0px;
  margin-left: -2px;
}
#updates{
  width: 60%;
  align-content: center;

}
